.image-19-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 3085px;
  object-fit: cover;
}
.amrish-puri-child {
  position: absolute;
  top: 71px;
  left: calc(50% - 857px);
  border-radius: var(--br-46xl);
  background-color: var(--color-white);
  width: 1652px;
  height: 64px;
}
.image-12-icon5 {
  position: absolute;
  top: 244px;
  left: 48px;
  border-radius: var(--br-xl);
  width: 317.9px;
  height: 460px;
  object-fit: cover;
}
.karan-and-arjun {
  position: absolute;
  top: 448px;
  left: 513px;
  display: inline-block;
  width: 657px;
  height: 185px;
}
.after-witnessing-a,
.in-a-small,
.kishorilal-wants-an,
.when-an-exiled {
  position: absolute;
  top: 1050px;
  left: 513px;
  display: inline-block;
  width: 657px;
  height: 148px;
}
.after-witnessing-a,
.in-a-small,
.when-an-exiled {
  top: 1614px;
  left: 516px;
  height: 185px;
}
.after-witnessing-a,
.when-an-exiled {
  top: 2178px;
  left: 509px;
  height: 111px;
}
.when-an-exiled {
  top: 2799px;
  left: 515px;
  height: 148px;
}
.image-13-icon5,
.image-14-icon5,
.image-17-icon3,
.image-18-icon3 {
  position: absolute;
  top: 825px;
  left: 50px;
  border-radius: var(--br-xl);
  width: 285.2px;
  height: 460px;
  object-fit: cover;
}
.image-14-icon5,
.image-17-icon3,
.image-18-icon3 {
  top: 1408px;
  width: 295.2px;
}
.image-17-icon3,
.image-18-icon3 {
  top: 1991px;
  left: 51px;
}
.image-18-icon3 {
  top: 2574px;
  left: 50px;
  width: 338.4px;
}
.amrish-puri1,
.karan-arjun {
  position: absolute;
  top: 310px;
  left: 510px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  width: 354px;
  height: 47px;
}
.amrish-puri1 {
  top: 71px;
  left: 145px;
  font-weight: 500;
  font-family: var(--font-eczar);
  width: 278px;
  height: 53px;
}
.pardes {
  top: 912px;
  left: 512px;
  display: inline-block;
  width: 152px;
  height: 47px;
}
.damini,
.ghatak-lethal,
.pardes,
.tridev {
  position: absolute;
  font-size: var(--font-size-21xl);
}
.ghatak-lethal {
  top: 1476px;
  left: 515px;
  display: inline-block;
  font-family: var(--font-battambang);
  width: 427px;
  height: 47px;
}
.damini,
.tridev {
  left: 514px;
}
.damini {
  top: 2030px;
  display: inline-block;
  font-family: var(--font-battambang);
  width: 207px;
  height: 47px;
}
.tridev {
  top: 2661px;
}
.magestar-fill-icon45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}
.div45 {
  position: absolute;
  top: 4px;
  left: 40px;
  display: inline-block;
  width: 53px;
  height: 39px;
}
.magestar-fill-parent42,
.magestar-fill-parent43,
.magestar-fill-parent44 {
  position: absolute;
  top: 381px;
  left: 510px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent43,
.magestar-fill-parent44 {
  top: 983px;
}
.magestar-fill-parent44 {
  top: 1547px;
  left: 513px;
}
.magestar-fill-parent45,
.magestar-fill-parent46 {
  position: absolute;
  top: 2106px;
  left: 506px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent46 {
  top: 2732px;
  left: 512px;
}
.amrish-puri-child1,
.amrish-puri-child2,
.amrish-puri-child3,
.amrish-puri-inner,
.amrish-puri-item {
  position: absolute;
  top: 269px;
  left: 448px;
  border-right: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 2px;
  height: 415px;
}
.amrish-puri-child1,
.amrish-puri-child2,
.amrish-puri-child3,
.amrish-puri-inner {
  top: 842px;
}
.amrish-puri-child1,
.amrish-puri-child2,
.amrish-puri-child3 {
  top: 1430px;
}
.amrish-puri-child2,
.amrish-puri-child3 {
  top: 2013px;
}
.amrish-puri-child3 {
  top: 2591px;
}
.icon-search9 {
  position: absolute;
  height: 1%;
  width: 2.34%;
  top: 2.85%;
  right: 11.13%;
  bottom: 96.15%;
  left: 86.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.amrish-puri {
  width: 100%;
  position: relative;
  background-color: var(--color-azure);
  height: 3085px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-libre-baskerville);
}
