.image-40-icon1,
.image-6-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1202px;
  object-fit: cover;
}

.image-6-icon3{
  opacity: 30%;
}

.image-40-icon1 {
  top: 694px;
  left: 625px;
  border-radius: var(--br-341xl);
  width: 200.7px;
  height: 200px;
}
.akshay-kumar3,
.upon-realizing-the {
  position: absolute;
  display: inline-block;
}
.akshay-kumar3 {
  top: 919px;
  left: 675px;
  color: var(--color-gray-300);
  width: 151px;
  height: 74px;
}
.upon-realizing-the {
  top: 442px;
  left: 601px;
  width: 786px;
  height: 267px;
}
.magestar-fill-icon53 {
  position: absolute;
  top: 0;
  left: 0;
  width: 47.9px;
  height: 57.7px;
  overflow: hidden;
  object-fit: cover;
}
.div53 {
  position: absolute;
  top: 5.8px;
  left: 47.9px;
  display: inline-block;
  width: 63.4px;
  height: 56.3px;
}
.magestar-fill-parent50,
.padman-child {
  position: absolute;
  top: 346.8px;
  left: 600.6px;
  width: 111.3px;
  height: 62.1px;
}
.padman-child {
  top: 153.4px;
  left: 545.5px;
  width: 8.4px;
  height: 662.4px;
  object-fit: contain;
}
.snapcine3 {
  position: absolute;
  top: 0;
  left: calc(50% - 149px);
  font-size: var(--font-size-41xl);
  display: inline-block;
  font-family: var(--font-battambang);
  width: 298px;
  height: 53px;
}
.image-27-icon {
  position: absolute;
  top: 152px;
  left: 50px;
  border-radius: var(--br-xl);
  width: 381px;
  height: 664px;
  object-fit: cover;
}
.h-20m {
  position: absolute;
  top: 259px;
  left: 599px;
  color: var(--color-gray-300);
  display: inline-block;
  width: 238px;
  height: 54px;
}
.padman1 {
  top: 169px;
  left: 601px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-battambang);
  width: 200px;
  height: 68px;
}
.home3,
.padman1,
.starring-leads-3 {
  position: absolute;
  display: inline-block;
}
.home3 {
  top: 49px;
  left: 50px;
  text-decoration: underline;
  color: var(--color-gray-200);
  width: 120px;
  height: 18px;
  cursor: pointer;
}
.starring-leads-3 {
  top: 620px;
  left: 597px;
  font-family: var(--font-battambang);
  width: 230px;
  height: 58px;
}
.image-42-icon {
  position: absolute;
  top: 698px;
  left: 865px;
  border-radius: var(--br-341xl);
  width: 214px;
  height: 200px;
  object-fit: cover;
}
.radhika {
  margin: 0;
}
.radhika-apte {
  position: absolute;
  top: 919px;
  left: 900px;
  color: var(--color-gray-300);
  display: inline-block;
  width: 188px;
  height: 74px;
}
.padman {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-libre-baskerville);
}
