.image-19-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 3085px;
  object-fit: cover;
}
.ranveer-singh-child {
  position: absolute;
  top: 71px;
  left: calc(50% - 789px);
  border-radius: var(--br-46xl);
  background-color: var(--color-white);
  width: 1574px;
  height: 64px;
}
.image-12-icon4 {
  position: absolute;
  top: 244px;
  left: 48px;
  border-radius: var(--br-xl);
  width: 317.9px;
  height: 460px;
  object-fit: cover;
}
.an-account-of,
.modern-adaptation-of {
  position: absolute;
  top: 448px;
  left: 513px;
  display: inline-block;
  width: 657px;
  height: 185px;
}
.modern-adaptation-of {
  top: 1050px;
  height: 148px;
}
.flamboyant-punjabi-rocky,
.simmba-enjoys-all,
.the-mehra-family {
  position: absolute;
  top: 1614px;
  left: 516px;
  display: inline-block;
  width: 657px;
  height: 185px;
}
.simmba-enjoys-all,
.the-mehra-family {
  top: 2234px;
  left: 512px;
  height: 111px;
}
.the-mehra-family {
  top: 2799px;
  left: 515px;
  height: 148px;
}
.image-13-icon4,
.image-14-icon4,
.image-17-icon2,
.image-18-icon2 {
  position: absolute;
  top: 825px;
  left: 50px;
  border-radius: var(--br-xl);
  width: 295.2px;
  height: 460px;
  object-fit: cover;
}
.image-14-icon4,
.image-17-icon2,
.image-18-icon2 {
  top: 1408px;
}
.image-17-icon2,
.image-18-icon2 {
  top: 1991px;
  left: 51px;
  width: 289px;
}
.image-18-icon2 {
  top: 2574px;
  left: 50px;
  width: 299.8px;
}
.bajirao-mastani {
  top: 310px;
  left: 510px;
  width: 354px;
  height: 47px;
}
.bajirao-mastani,
.goliyon-ki-raasleela,
.ranveer-singh1 {
  position: absolute;
  font-size: var(--font-size-21xl);
  display: inline-block;
}
.ranveer-singh1 {
  top: 70px;
  left: 185px;
  font-weight: 500;
  font-family: var(--font-eczar);
  width: 320px;
  height: 53px;
}
.goliyon-ki-raasleela {
  top: 912px;
  left: 512px;
  width: 688px;
  height: 47px;
}
.rocky-aur-rani {
  top: 1476px;
  left: 515px;
  display: inline-block;
  font-family: var(--font-battambang);
  width: 685px;
  height: 47px;
}
.dil-dhadakne-do,
.rocky-aur-rani,
.simmba {
  position: absolute;
  font-size: var(--font-size-21xl);
}
.simmba {
  top: 2096px;
  left: 511px;
  display: inline-block;
  font-family: var(--font-battambang);
  width: 527px;
  height: 47px;
}
.dil-dhadakne-do {
  top: 2661px;
  left: 514px;
}
.magestar-fill-icon35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}
.div35 {
  position: absolute;
  top: 4px;
  left: 40px;
  display: inline-block;
  width: 53px;
  height: 39px;
}
.magestar-fill-parent32,
.magestar-fill-parent33,
.magestar-fill-parent34 {
  position: absolute;
  top: 381px;
  left: 510px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent33,
.magestar-fill-parent34 {
  top: 983px;
}
.magestar-fill-parent34 {
  top: 1547px;
  left: 513px;
}
.magestar-fill-parent35,
.magestar-fill-parent36 {
  position: absolute;
  top: 2167px;
  left: 509px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent36 {
  top: 2732px;
  left: 512px;
}
.ranveer-singh-child1,
.ranveer-singh-child2,
.ranveer-singh-child3,
.ranveer-singh-inner,
.ranveer-singh-item {
  position: absolute;
  top: 269px;
  left: 448px;
  border-right: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 2px;
  height: 415px;
}
.ranveer-singh-child1,
.ranveer-singh-child2,
.ranveer-singh-child3,
.ranveer-singh-inner {
  top: 842px;
}
.ranveer-singh-child1,
.ranveer-singh-child2,
.ranveer-singh-child3 {
  top: 1430px;
}
.ranveer-singh-child2,
.ranveer-singh-child3 {
  top: 2013px;
}
.ranveer-singh-child3 {
  top: 2591px;
}
.icon-search7 {
  position: absolute;
  height: 1.33%;
  width: 2.34%;
  top: 2.72%;
  right: 10.94%;
  bottom: 95.95%;
  left: 86.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ranveer-singh {
  width: 100%;
  position: relative;
  background-color: var(--color-azure);
  height: 3085px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-libre-baskerville);
}
