.image-4-icon4 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1917px;
  height: 3104px;
  object-fit: cover;
}
.sunny-deol-child {
  position: absolute;
  top: 71px;
  left: calc(50% - 850px);
  border-radius: var(--br-46xl);
  background-color: var(--color-white);
  width: 1610px;
  height: 64px;
}
.image-12-icon3 {
  position: absolute;
  top: 242px;
  left: 50px;
  border-radius: var(--br-xl);
  width: 317.9px;
  height: 460px;
  object-fit: cover;
}
.when-tara-singh {
  position: absolute;
  top: 448px;
  left: 513px;
  display: inline-block;
  width: 657px;
  height: 185px;
}
.in-1971-along,
.indian-cop-raj,
.life-of-three,
.the-trio-reunites {
  position: absolute;
  top: 1050px;
  left: 513px;
  display: inline-block;
  width: 657px;
  height: 148px;
}
.in-1971-along,
.indian-cop-raj,
.life-of-three {
  top: 1614px;
  left: 516px;
  height: 185px;
}
.in-1971-along,
.indian-cop-raj {
  top: 2234px;
  left: 512px;
  height: 111px;
}
.indian-cop-raj {
  top: 2799px;
  left: 515px;
  height: 148px;
}
.image-13-icon3,
.image-14-icon3,
.image-15-icon3,
.image-16-icon3 {
  position: absolute;
  top: 825px;
  left: 50px;
  border-radius: var(--br-xl);
  width: 285.2px;
  height: 460px;
  object-fit: cover;
}
.image-14-icon3,
.image-15-icon3,
.image-16-icon3 {
  top: 1408px;
  width: 295.2px;
}
.image-15-icon3,
.image-16-icon3 {
  top: 1991px;
  left: 51px;
  width: 303.6px;
}
.image-16-icon3 {
  top: 2574px;
  left: 50px;
  width: 337.1px;
}
.gadar-2 {
  top: 310px;
  left: 510px;
  font-family: var(--font-battambang);
  width: 166px;
  height: 47px;
}
.border,
.gadar-2,
.indian,
.poster-boys,
.sunny-deol1,
.yamla-pagla-deewana {
  position: absolute;
  font-size: var(--font-size-21xl);
  display: inline-block;
}
.sunny-deol1 {
  top: 71px;
  left: 153px;
  font-weight: 500;
  font-family: var(--font-eczar);
  width: 256px;
  height: 53px;
}
.border,
.indian,
.poster-boys,
.yamla-pagla-deewana {
  top: 912px;
  left: 512px;
  width: 516px;
  height: 47px;
}
.border,
.indian,
.poster-boys {
  top: 1476px;
  left: 515px;
  width: 255px;
}
.border,
.indian {
  top: 2096px;
  left: 511px;
  width: 194px;
}
.indian {
  top: 2661px;
  left: 514px;
  width: 146px;
}
.magestar-fill-icon25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
}
.div25 {
  position: absolute;
  top: 4px;
  left: 40px;
  display: inline-block;
  width: 53px;
  height: 39px;
}
.magestar-fill-parent22,
.magestar-fill-parent23 {
  position: absolute;
  top: 381px;
  left: 510px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent23 {
  top: 983px;
}
.magestar-fill-parent24,
.magestar-fill-parent25 {
  position: absolute;
  top: 1547px;
  left: 513px;
  width: 93px;
  height: 43px;
}
.magestar-fill-parent25 {
  top: 2167px;
  left: 509px;
}
.p {
  margin: 0;
}
.magestar-fill-parent26 {
  position: absolute;
  top: 2732px;
  left: 512px;
  width: 93px;
  height: 43px;
}
.sunny-deol-child1,
.sunny-deol-child2,
.sunny-deol-child3,
.sunny-deol-inner,
.sunny-deol-item {
  position: absolute;
  top: 269px;
  left: 448px;
  border-right: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 2px;
  height: 415px;
}
.sunny-deol-child1,
.sunny-deol-child2,
.sunny-deol-child3,
.sunny-deol-inner {
  top: 842px;
}
.sunny-deol-child1,
.sunny-deol-child2,
.sunny-deol-child3 {
  top: 1430px;
}
.sunny-deol-child2,
.sunny-deol-child3 {
  top: 2013px;
}
.sunny-deol-child3 {
  top: 2591px;
}
.icon-search5 {
  position: absolute;
  height: 1%;
  width: 2.34%;
  top: 2.85%;
  right: 11.2%;
  bottom: 96.15%;
  left: 86.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sunny-deol {
  width: 100%;
  position: relative;
  background-color: var(--color-azure);
  height: 3085px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-libre-baskerville);
}
